language: go
go:
  - "1.13"

install:
  # code lint tools
  - go get -u golang.org/x/lint/golint
  # mock generator
  - go get github.com/golang/mock/mockgen

script:
  - make check
  - make build
  - make test
  - make coverage

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - make release

deploy:
  provider: releases
  api_key: $API_KEY
  file_glob: true
  file: release/*
  skip_cleanup: true
  draft: true
  on:
    tags: true
    condition: $TRAVIS_GO_VERSION = 1.13
